pygeoapi
Babel
click>7,<=8
flask
jinja2==3.1.6
jsonschema
json2args==0.7.0
pydantic
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely<2.0
SQLAlchemy<2.0.0
tinydb
unicodecsv
pandas
toolbox_runner
podman
