pygeoapi
Babel
click>7,<=8
flask
jinja2==3.1.2
jsonschema
pandas
polars
pyarrow
pydantic<2.0  # pydantic >= 2.0.2 uses pattern instead of regex
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely<2.0
SQLAlchemy==2.0.18
tinydb
unicodecsv
toolbox_runner
json2args
